<h1>Welcome <%=@user.name%>!</h1>
<h3>Your current balance is:</h3>
<p>
  $<%='%.2f' % @user.balance%>
</p>
<h3>Recent expenses:</h3>
<p>
  <ol>
    <%if @user.expenses.empty?%>
      There are no recent expenses. Record a new one below.
    <%else%>
      <%@user.expenses.each do |expense|%>
        <li>
          <%="Date: #{expense.year}/#{expense.month}/#{expense.day} - Amount: $#{'%.2f' % expense.amount}"%>
            |  <a href="/expenses/<%=expense.id%>">More Info</a>
        </li>
      <%end%>
    <%end%>
  </ol>
</p>
<p>
  <a href="/expenses/new">New Expense</a>
</p>
<br>
<br>
<br>
<br>
<br>
<p>| <a href="/logout">Logout</a> | <a href="/users/<%=@user.slug%>">Home</a> |</p>