<h1>Welcome <%=@user.name%>!</h1>
<h3>Your current balance is:</h3>
<p>
  $<%='%.2f' % @user.balance%>
  | <a href="/users/<%=@user.slug%>/balance/edit">Edit Balance</a>
</p>
<h3>Recent expenses:</h3>
<p>
  <ol>
    <%if @user.expenses.empty?%>
      There are no recent expenses. Record a new one below.
    <%else%>
      <%sorted_expenses = @user.expenses.sort_by {|a| [a.year, a.month, a.day]}.reverse!%>
      <%sorted_expenses.each do |expense|%>
        <li>
          <%="Date: #{expense.year}/#{expense.month}/#{expense.day} - Amount: $#{'%.2f' % expense.amount}"%>
          | <a href="/users/<%=@user.slug%>/expenses/<%=expense.id%>">More Info</a>
        </li>
      <%end%>
    <%end%>
  </ol>
</p>
<p>
  <a href="/users/<%=@user.slug%>/expenses/new">New Expense</a>
  | <a href="/users/<%=@user.slug%>/expenses/week">Weekly Expenses</a>
  | <a href="/users/<%=@user.slug%>/expenses/month">Monthly Expenses</a>
  | <a href="/users/<%=@user.slug%>/expenses/year">Annual Expenses</a>
</p>
<br>
<%if flash.include?(:message)%>
  <%=flash[:message]%>
<%end%>
<br>
<br>
<br>
<br>
<br>
<p>| <a href="/logout">Logout</a> | <a href="/users/<%=@user.slug%>">Home</a> |</p>